@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="title">
        <span class="title-word title-word-1">Hello,</span>
        <span class="title-word title-word-2">Mutants</span>
        
    </h1>
</div>   
<iframe src="https://vlipsy.com/embed/3Vaap4iP" width="640" height="360"></iframe>
    <p class="text-center">Start <a href="/Questions/Quiz">studying</a>.</p>
</div>
