@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome, Mutants.</h1>
    <iframe src="https://vlipsy.com/embed/3Vaap4iP" width="640" height="360"></iframe>
    <p>Start <a href="/Questions/Quiz">studying</a>.</p>
</div>
