body {
    background-color: tomato;
    color: ghostwhite;
    font-family: "Cedarville Cursive", cursive;
    font-size: 1.5rem;
}

.cedarville-cursive-regular {
    font-family: "Cedarville Cursive", cursive;
    font-weight: 400;
    font-style: normal;
}

.navbar-brand {
    color: tomato !important;
}

a {
    color: ghostwhite;
    text-decoration: none; /* Optional: Remove underline for links */
}

    a:hover {
        color: black;
    }
.nav-link {
    color: black;
}
/* Add this to ensure the .nav-item links are styled correctly */
 .nav-link:hover {
        color: tomato;
    }

 h3 {
     color: black;
 }
