@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using MutantTrivia.ViewModels
@model AddQuestionViewModel


<h1>Add a Questions</h1>

<form method="post" asp-controller="Questions" asp-action="Add">
    <div class="form-group">
       <label asp-for="Name">
           Name
           <input asp-for="Name" type="text" />
       </label>
       <label asp-for="Answer">
           Answer
           <input type="text" asp-for="Answer" />
       </label>
    </div>
    
    <input type="submit" value="Add Question" />
</form>
