@model MutantTrivia.ViewModels.EditQuestionViewModel

<h2>Edit Question</h2>

<form asp-controller="Questions" asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="Name">Question:</label>
        <input type="text" class="form-control" asp-for="Name" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Answer">Answer:</label>
        <input type="text" class="form-control" asp-for="Answer" />
        <span asp-validation-for="Answer" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CategoryId">Category:</label>
        <select asp-for="CategoryId" class="form-control">
            <option value="">All Categories</option>
            @foreach (var category in ViewBag.Categories as List<MutantTrivia.Models.QuestionCategory>)
            {
                <option value="@category.Id">@category.Name</option>
            }
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>